.container {
  padding: 0 15rem;
}
.main {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 3rem;
}
.main h3 {
  cursor: pointer;
}

@media (max-width: 900px) {
  .container {
    padding: 0;
  }
}
